ul {
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
background-color: aqua;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}
li a:hover{
    background-color:black;
} 
table, th, td{
   border-style: outset;
border-color: black;
}